body{
	font-family: Roboto, helvetica, sans-serif;
}

h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}

img {
	max-width: 90%;
}


header {
	height: 250px;
	padding-top: 5px;
	margin-bottom:150px;
	background-position: center;

	a.logo {
		position:relative;
		top:50px;

		img {
			margin:0 auto;
			height:300px;
			display:block;
		}
	}

	.navbar {
		position: absolute;
		right: 0;
		width: 100%;
		z-index: 1;

		.navbar-toggle {
			background-color: rgba(247, 223, 30, 0.7);
			color: #000;
			padding: 5px 8px;
			z-index: 2;
		}

		.navbar-collapse{
			background-color: #fff;
			position: absolute;
			top: 0;
			width: 100%;
			padding-top: 45px;
			font-size: 1.5em;
		}
	}
}

@media (min-width: 0px) and (max-width: 479px) {
   header {
   	background: url(/img/Oxford_panorama-xs.jpg);
   	height: 150px;

   	a.logo img {
   		height: 200px;
   	}
   }
}
@media (min-width: 480px) and (max-width: 767px) {
   header {
   	background: url(/img/Oxford_panorama-sm.jpg);
   }
}
@media (min-width: 768px) and (max-width: 991px) {
   header {
   	background: url(/img/Oxford_panorama-md.jpg);
   }
}
@media (min-width: 992px) and (max-width: 1199px) {
   header {
   	background: url(/img/Oxford_panorama-lg.jpg);
   }
}
@media (min-width: 1200px) {
   header {
   	background: url(/img/Oxford_panorama.jpg);
   }
}

footer {
	margin-top: 10px;
	text-align: center;
	padding: 5px;
}

.content {
	max-width: 100%;
	

	.main {
		padding: 0 5px;
	}
}

.sidebar {
	h3 {
		margin-top:3px;
		margin-bottom:3px;
	}
}

.post-title{
	background-color:#f3df49;
	padding:.5em;
	border-top:5px solid #000;
	img { 
		margin-right: 5px;
	}
	a{
		color: #000;
		&.btn-primary{
			color:#fff;
		}
	}
}

#MeetupMembers {
	a {
		display:inline-block;
		margin-left: 10px;

		&.memberThumbnail{
			margin: 0;
			width: 30px;
			height: 30px;
			background-size: cover;
			img {
				width: 30px;
				height: 30px;
				max-width: 100%;
			}
		}
	}
}

.eventInfo {
	float: right;
	font-size: 0.4em;
	
	.eventDate {
		font-weight: bold;
	}
	a {
		display:block;
	}
}

iframe {
	max-width: 100%;
}