body {
  font-family: Roboto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
img {
  max-width: 90%;
}
header {
  height: 250px;
  padding-top: 5px;
  margin-bottom: 150px;
  background: url(/img/Oxford_panorama.jpg);
  background-position: center;
}
header a {
  position: relative;
  top: 50px;
}
header a img {
  margin: 0 auto;
  height: 300px;
  display: block;
}
footer {
  margin-top: 10px;
  text-align: center;
  padding: 5px;
}
.sidebar h3 {
  margin-top: 3px;
  margin-bottom: 3px;
}
.post-title {
  background-color: #f3df49;
  padding: .5em;
  border-top: 5px solid #000;
}
.post-title img {
  margin-right: 5px;
}
.post-title a {
  color: #000;
}
.post-title a.btn-primary {
  color: #fff;
}
#MeetupMembers a {
  display: inline-block;
  margin-left: 10px;
}
#MeetupMembers a.memberThumbnail {
  margin: 0;
  width: 30px;
  height: 30px;
  background-size: cover;
}
#MeetupMembers a.memberThumbnail img {
  width: 30px;
  height: 30px;
  max-width: 100%;
}
.eventInfo {
  float: right;
  font-size: 0.4em;
}
.eventInfo .eventDate {
  font-weight: bold;
}
.eventInfo a {
  display: block;
}
