---
layout: default
---

{% for post in site.posts %}
<div class="post">
    <h2 class="post-title">
    	<a href="{{ post.url }}">{{post.title}}</a>
    	{% if post.lanyrd != null %}
    		<small>
    			<a href="http://lanyrd.com/{{post.lanyrd}}" class="icon-lanyrd"></a>
    		</small>
    	{% endif %}
    </h2>


    {{ post.content}}
</div>


{% if post.lanyrd != null %}
<div class="lanyrd-target-participants">
    <a href="http://lanyrd.com/{{post.lanyrd}}attendees/" class="lanyrd-participants">
        RSVP on Lanyrd
    </a>
</div>
{% endif %}
 
<hr class="heavy" />

{% endfor %}
