---
layout: default
---

<div class="row">
    <h2><img src="/img/icons/calendar.svg" class="icon" title="calendar icon" /> Upcoming  Events</h2>
    <div id="UpcomingEvents">
        {% assign upcoming = site.posts | sort:'date' | where:'status','upcoming' %}
        {% for post in upcoming %}
            <div class="post" data-date="{{post.date}}">
                <h2 class="post-title row">
                    <div class="col-xs-9">
                        {% if post.source != null && post.source == 'meetup' %}
                            <a href="{{ post.externalURL }}" title="View on Meetup.com"><img src="/img/meetup.png" alt="Meetup" class="meetupIcon" /></a>
                        {% endif %}
                        <a href="{{ post.url }}" class="title">{{post.title}}</a>
                        {% if post.lanyrd != null %}
                            <small>
                                <a href="http://lanyrd.com/{{post.lanyrd}}" class="icon-lanyrd"></a>
                            </small>
                        {% endif %}
                    </div>
                    {% if post.source != null && post.source == 'meetup' %}
                        <div class="eventInfo col-xs-3">
                            <span class="eventDate">{{ post.date | date: "%a %b %d"}} </span>
                            <span class="eventTime">{{ post.date | date: "%I:%M %p"}}</span>
                            <a href="{{ post.externalURL }}"><span class="attendees">{{post.attendees}}</span> are going</a>
                        </div>
                    {% endif %}
                    {% if post.author != null %}
                        <div class="byline">by {{ post.author | markdownify }}</div>
                    {% endif %}
                </h2>

                <div class="postContent">
                    {{ post.content}}
                </div>
            </div>


            {% if post.lanyrd != null %}
                <div class="lanyrd-target-participants">
                    <a href="http://lanyrd.com/{{post.lanyrd}}attendees/" class="lanyrd-participants">
                        RSVP on Lanyrd
                    </a>
                </div>
            {% endif %}

            <hr class="heavy" />

        {% endfor %}
        {% if upcoming == blank %}
            <em>No upcoming events... <img src="/img/icons/frown.svg" class="icon" title="frown face" /></em>
        {% endif %}
    </div>
</div>
<div class="visible-xs">
    <h2><img src="/img/icons/map-marker.svg" class="icon" title="map marker icon" /> Location</h2>
    <iframe width="100%" height="250px" frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1680.59994904333!2d-1.2594095192649966!3d51.75067051960553!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4876c6afffdb9abf%3A0x37007a572c93207d!2sThe+Story+Museum!5e0!3m2!1sen!2suk!4v1444979547342"></iframe>
</div>
<div class="row">
    <h2><img src="/img/icons/calendar.svg" class="icon" title="calendar icon" /> Past Events</h2>
    <div id="PastEvents">
        {% for post in site.posts %}
            {% if post.status != 'upcoming' %}
                <div class="post" data-date="{{post.date}}">
                    <h2 class="post-title row">
                        <div class="col-xs-9">
                            {% if post.source != null && post.source == 'meetup' %}
                                <a href="{{ post.externalURL }}"><img src="/img/meetup.png" alt="Meetup" /></a>
                            {% endif %}
                            <a href="{{ post.url }}">{{post.title}}</a>
                            {% if post.lanyrd != null %}
                                <small>
                                    <a href="http://lanyrd.com/{{post.lanyrd}}" class="icon-lanyrd"></a>
                                </small>
                            {% endif %}
                        </div>
                        {% if post.source != null && post.source == 'meetup' %}
                            <div class="eventInfo col-xs-3">
                                <span class="eventDate">{{ post.date | date: "%a %b %d"}} </span>
                                <span class="eventTime">{{ post.date | date: "%I:%M %p"}}</span>
                                <a href="{{ post.externalURL }}">{{post.attendees}} went</a>
                            </div>
                        {% endif %}
                        {% if post.author != null %}
                            <div class="byline">by {{ post.author | markdownify }}</div>
                        {% endif %}
                    </h2>


                    {{ post.content}}
                </div>


                {% if post.lanyrd != null %}
                    <div class="lanyrd-target-participants">
                        <a href="http://lanyrd.com/{{post.lanyrd}}attendees/" class="lanyrd-participants">
                            RSVP on Lanyrd
                        </a>
                    </div>
                {% endif %}

                <hr class="heavy" />
            {% endif %}
        {% endfor %}
    </div>
</div>
<div class="row">
    <p>You can find more events in the <a href="/archive/">Events Archive</a>.</p>
</div>
