@import 'bootstrap/bootstrap';
@import 'bootstrap/responsive';

.main-nav{
	text-align: right;

	h1 a{
		color:@textColor;
		text-decoration: none;
	}

	.links{
		list-style: none;
		font-size:1.5em;
	}
}

.logo{
	background-color:#f3df49;
	display: inline-block;
}

@media (max-width: 767px) {
	
	.logo{
		margin: -20px -20px 20px -20px;
		text-align: right;

		img{
			max-width: 50%;
		}
	}
	h1{
		text-align: right;
	}
	.main-nav{
		margin-bottom:1.5em;
	}
}