---

---
<!DOCTYPE html>
<html>
<head>
    <title>JSOxford</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,700|Oswald:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="JS Oxford Posts">
</head>
<body>
    <header class="site__header">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-xs-6">
                    <a href="/" class="logo">
                        <img src="/img/js.png" width="55"  height="55" alt="JS"/>
                    </a>
                </div>
                
                <div class="col-md-4 col-md-offset-4 col-xs-6">
                    <ul class="nav--social list-unstyled list-inline">
                        <li>
                            <a href="https://github.com/jsoxford">
                                <span class="icon-github"></span>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/intent/user?screen_name=jsoxford">
                                <span class="icon-twitter"></span>
                            </a>
                        </li>
                        <li>
                            <a href="/irc">irc</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">

            <div class="col-md-8 main">

                {{ content }}

            </div>
        
            <div class="col-md-4">
                <!-- Begin MailChimp Signup Form -->
                <div class="callout">
                    <div id="mc_embed_signup">
                    <form action="http://whiteoctober.us8.list-manage.com/subscribe/post?u=943132384a6114cc192253f86&amp;id=96f20e9858" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <h2><label for="mce-EMAIL">Be notified of upcoming events</label></h2>
                        <div class="form-group">
                            <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="email address" required>
                        </div>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;"><input type="text" name="b_943132384a6114cc192253f86_96f20e9858" tabindex="-1" value=""></div>
                        <div class="form-group">
                            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn">
                        </div>
                    </form>
                    </div>
                    <!--End mc_embed_signup-->
                </div>
        
                <div class="callout callout-highlight">
                    <h2>Want to talk at JSOxford?</h2>
                    <div class="form-group">
                        <a class="btn btn-primary" href="https://docs.google.com/a/whiteoctober.co.uk/spreadsheet/viewform?formkey=dHE0aldWMEFvUGY0ZXprTUlMODBXZkE6MQ">Propose a talk</a>
                    </div>
                </div>

            </div>


        </div>

    </div>

    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
    <script src="http://cdn.lanyrd.net/badges/embed-v1.min.js"></script>

    <script type="text/javascript">
    var _gaq = [['_setAccount', 'UA-539447-26'],['_trackPageview']];

    (function(s) {
        var ga = document.createElement(s); ga.type = 'text/java' + s; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        s = document.getElementsByTagName(s)[0]; s.parentNode.insertBefore(ga, s);
    })('script');
    </script>
</body>
</html>

