---

---
<!DOCTYPE html>
<html>
<head>
    <title>JSOxford</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/assets/style.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="span3 main-nav">
                <h1>
                    <a href="/">
                        <span class="logo">
                            <img src="/assets/js.png" width="370"  height="370" alt="JS"/>
                        </span>
                        Oxford
                    </a>
                </h1>
                <ul class="links">
                    <li>
                        <a href="https://twitter.com/jsoxford">@jsoxford</a>
                    </li>
                </ul>
                <hr />
                <p>
                    JSOxford is a monthly get together just off Cowley Road.
                </p>
            </div>
            <div class="span9">

                {{ content }}

            </div>
        </div>
    </div>
</body>
</html>

